@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');
*{
    margin:0; padding:0;box-sizing:border-box;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
}
.container{
    width:100%;
    height:auto;
}
.wrapper{
    
    width:200px;
    height:200px;
    margin:0 auto;
    margin-top:100px;
}
.d-wrap{
    width:100px;
    height:100px;
    background:#00f1c0;
    position:relative;
}
.a{
    width:0;
    height:0;
    border:50px solid transparent;
    border-bottom:70px solid #fff;
    position:relative;
    top:-35px;
    
}
.a::after{
    content:"";
    position: absolute;
    border:18px solid transparent;
    border-bottom:15px solid #00f1c0;
    width:30px;
    height:5px;
    top:35px;
    left:-34px;

}
.a1{
    
    width:18px;
    height:5px;
    position:relative;
    background:red;
    top:-80px;
    left:38px;
    box-shadow: 2px 2px 1px #ddd;
}
.a1::before{
    content:"";
    position:absolute;
    width:30px;
    height:5px;
    background:red;
    box-shadow: 2px 2px 1px #ddd;
    transform: rotatez(-55deg);
    -webkit-transform: rotatez(-55deg);
    -moz-transform: rotatez(-55deg);
    -ms-transform: rotatez(-55deg);
    -o-transform: rotatez(-55deg);
    top:10px;
    left:-4px;
    border-top-right-radius: 3px;
}
.a1::after{
    content:"";
    position:absolute;
    width:23px;
    height:5px;
    background:red;
    top:23px;
    box-shadow: 2px 2px 1px #ddd;
    border-top-left-radius: 1px;
}